//- Login Fail Page
extends layout

block content
    doctype html
    html
    head
        title| Guessing game - start page
    body
    .container
        .col  
            .alert.alert-warning
                p
                | Your login failed! 
        
        a(href="login").btn.btn-secondary  Try Again!

