//- Login Page
extends layout

block content

  doctype html
  html
  head
    title| Login page
  body
    .container
      .row  
        .col.col-md-5
            .card
                .card-header 
                    h1 Login Page
                .card-body
                    form(action = "login" method = "post").form
                        .form-group
                            label(for="guess")| Username: 
                            input(type="text" name="username")
                        .form-group
                            label( for="guess")  Password :  
                            input(type="password" name="password")
                        .form-group
                            button(type="submit").btn.btn-secondary| Login

        .col.col-md-5  
            .alert.alert-warning
                p 
                |Please enter username and password to get access to database

